<!--
  Generated template for the PasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>رمز عبور</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!register">
  <ion-item>
    <ion-label color="primary">رمز عبور</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>
  <button ion-button full block (click)="submit()">ورود</button>
</div>
<div *ngIf="register">
    <ion-item>
        <ion-label color="primary">رمز عبور</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary">تکرار رمز عبور</ion-label>
          <ion-input [(ngModel)]="passwordr" type="passwordr"></ion-input>
        </ion-item>
      <button ion-button full block (click)="setpass()">ثبت</button>
  </div>
</ion-content>
