page-home {
.blocv{
    display: block;
    margin:auto;
}

.type.t1 ion-item,.type ion-item{
    background-color: #d8eebc !important;
}
.type.t2 ion-item{
    background-color: #ffd2b2 !important;

}
.listBelow{
    margin-top:20px; 
}


}
