// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: rtl;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #396192,
  secondary:  #d8eebc,
  danger:     #ff8391,
  light:      #3eceff,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
@font-face {
  font-family: iransans; 
  src: url($font-path+"/IRANSansWeb(FaNum)_Light.eot"); 
  src: url($font-path+"/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url($font-path+"/IRANSansWeb(FaNum)_Light.woff") format("woff"), url($font-path+"/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url($font-path+"/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal
}
//@import "roboto";
//@import "noto-sans";
$font-family-md-base: "iransans";
$font-family-ios-base: "iransans";
$font-family-wp-base: "iransans";
.price{
  font-family: "iransans" !important;
}
.loading-wrapper{
  direction: rtl;
}
.button-inner {
 
  direction: rtl;
}
.action-sheet-md .action-sheet-title {
  text-align: right !important;
  direction: rtl;
} 
.toast-message,.alert-message,.alert-head{
  text-align: right;
  direction: rtl;
}